# latch stuff
.latch_report.tar.gz
.logs/
**/*_ArchRProject
**/*ArchRSubset
**/ArchRLogs
images/
wf/testing.R
**/*SeuratObj*
wf/tidy_tutorial.R
wf/*.csv
wf/*.pdf
wf/spatial
wf/shinyApp
wf/combined*rds
**/*.RData
wf/*.h5ad
wf/*.h5seurat
wf/*.h5