.ssh_key
.ssh_key.pub
fragments.tsv.gz
.logs/
.latch_report.tar.gz
wf/__pycache__/
.latch_history
metadata.json
logs
Users
.vscode
bar/
config
**/*_ArchRProject
**/*ArchRSubset
**/ArchRLogs
wf/testing.R
**/*SeuratObj*
wf/tidy_tutorial.R
wf/*.csv
wf/*.pdf
wf/spatial
wf/shinyApp
wf/combined*.rds

**/.RData
**/.Rhistory
**/.DS_Store
**/*.ipynb
wf/*.rds
wf/*.h5*